<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.n0x3u5.SoRandom" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.n0x3u5.SoRandom.MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.n0x3u5.SoRandom.MainActivity" />
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".SearchResults"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".HomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.n0x3u5.SoRandom.HomeScreen" />
        </activity>
        <activity
            android:name=".PostStories"
            android:label="@string/title_activity_post_stories"
            android:parentActivityName=".HomeScreen">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.n0x3u5.SoRandom.HomeScreen" />
        </activity>
        <activity
            android:name=".ReadStories"
            android:label="@string/title_activity_read_stories"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.n0x3u5.SoRandom.HomeScreen" />
        </activity>
        <activity
            android:name=".StoryPanel"
            android:label="@string/title_activity_story_panel"
            android:theme="@style/Theme.AppCompat"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.n0x3u5.SoRandom.HomeScreen" />
        </activity>
        <activity
            android:name=".ViewStory"
            android:label="@string/title_activity_view_story">
        </activity>
    </application>

</manifest>
